---
const { platform, username } = Astro.props;
const url = platform === 'linkedin' ? `https://www.${platform}.com/in/${username}` : `https://www.${platform}.com/${username}`;
---
<a href={url}>{platform}</a>

<style>
a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
}
</style>
